<h3><%= t(".title") %></h3>
<div>
  <%= form_for @screening do |f| %>
    <form>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".date") %>:</strong>
        </div>
        <div class="col">
          <%= f.datetime_select :date %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".movie") %>:</strong>
        </div>
        <div class="col">
          <%= f.collection_select :movie_id, @movies, :id, :title %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".auditorium") %>:</strong>
        </div>
        <div class="col">
          <%= f.collection_select :auditorium_id, @auditoria, :id, :name %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".ticket_cost") %>:</strong>
        </div>
        <div class="col">
          <%= f.number_field :price, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <%= f.submit t(".modify") %>
        </div>
      </div>
    </form>
  <% end %>
</div>