<div class="title">
  <h1><%= t(".title") %></h1>
</div>
<% @screenings.each do |screening| %>
  <div class="screening-container border rounded border-dark">
    <div class="row">
      <div class="col-md">
        <strong><%= t(".movie_title") %>:</strong> <%= screening.movie.title %>
      </div>
      <div class="col-md">
        <strong><%= t('.ticket_price') %>:</strong> <%= screening.price %> ft
      </div>
      <div class="col-md">
        <strong><%= t(".length") %>:</strong> <%= screening.movie.length %> perc
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <strong><%= t(".date") %>:</strong> <%= screening.date %>
      </div>
      <div class="col-md">
        <strong><%= t(".category") %>:</strong>
        <% screening.movie.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </div>
      <div class="col-md">
        <strong><%= t(".description") %>:</strong> <%= screening.movie.description %> <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <strong><%= t(".auditorium") %>:</strong>
        <% if screening.auditorium != nil %>
          <%= screening.auditorium.name %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <%= button_to t(".booking"), ticket_path(screening), :method => :get, :form_class => "btn btn-light btn-sm foglalas" %>
      </div>
    </div>
  </div>
<% end %>
