<%= form_for :session, url: session_path do |form| %>

  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><%= form.text_field :email, type: 'email' , placeholder: "Email" %></label>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><%= form.password_field :password, placeholder: "Jelszó" %></label>
    </div>
    <div class="submit-field">
      <%= form.submit %>
    </div>
  </form>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path  %>
    <% end %>
  </div>
<% end %>
