<div class="title">
  <h1><%= t(".title") %></h1>
</div>

<%= button_to t(".create_new_movie"), new_movie_path, :method => :get, :form_class => "btn btn-light btn-sm" %>

<% @movies.each do |movie| %>
  <div class="screening-container border rounded border-dark">
    <div class="row">
      <div class="col-md">
        <strong><%= t(".movie_title") %>:</strong> <%= movie.title %>
      </div>
      <div class="col-md">
        <strong><%= t(".length") %>:</strong> <%= movie.length %> perc
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <strong><%= t(".category") %>:</strong>
        <% movie.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </div>
      <div class="col-md">
        <strong><%= t(".description") %>:</strong> <%= movie.description %> <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <%= button_to t(".modify"), edit_movie_path(movie), :method => :get, :form_class => "btn btn-light btn-sm admin-screenings-button" %>
        <%= button_to t(".delete"), movie_path(movie), :method => :delete, data: {confirm: t(".are_you_sure_to_delete")}, :form_class => "btn btn-light btn-sm admin-screenings-button" %>
      </div>
    </div>
  </div>
<% end %>
