<h3>Film szerkesztése</h3>
<div>
  <%= form_for @movie do |f| %>
    <form>
      <div class="row">
        <div class="col col-sm-1">
          <strong>Cím:</strong>
        </div>
        <div class="col">
          <%= f.text_field :title, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong>Hossz:</strong>
        </div>
        <div class="col">
          <%= f.number_field :length, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong>Kategória:</strong>
        </div>
        <div class="col">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong>Leírás:</strong>
        </div>
        <div class="col">
          <%= f.text_area :description, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <%= f.submit "Módosít" %>
        </div>
      </div>
    </form>
  <% end %>
</div>