<h3><%= t(".title") %></h3>
<div>
  <%= form_for @movie do |f| %>
    <form>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".movie_title") %>:</strong>
        </div>
        <div class="col">
          <%= f.text_field :title, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".length") %>:</strong>
        </div>
        <div class="col">
          <%= f.number_field :length, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".category") %>:</strong>
        </div>
        <div class="col">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".description") %>:</strong>
        </div>
        <div class="col">
          <%= f.text_area :description, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <%= f.submit t(".modify") %>
        </div>
      </div>
    </form>
  <% end %>
</div>