<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><%= form.text_field :email, type: 'email' , placeholder: t("email") %></label>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><%= form.password_field :password, placeholder: t("password") %></label>
      </div>
      <div class="submit-field">
        <%= form.submit %>
      </div>
    </form>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
