<div class="title">
  <h1><%= t(".title") %></h1>
</div>
<% @tickets.each do |ticket| %>
  <div class="screening-container border rounded border-dark">
    <div class="row">
      <div class="col-md">
        <strong><%= t(".movie_title") %>:</strong> <%= ticket.screening.movie.title %>
      </div>
      <div class="col-md">
        <strong><%= t(".auditorium") %>:</strong> <%= ticket.screening.auditorium.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <strong><%= t(".ticket_quantity") %>:</strong> <%= ticket.quantity %> db
      </div>
      <div class="col-md">
        <strong><%= t(".price_sum") %>:</strong> <%= ticket.quantity * ticket.screening.price %> ft
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <strong><%= t(".screening_date") %>:</strong> <%= ticket.screening.date %>
      </div>
    </div>
  </div>
<% end %>
