<h3><%= t(".title") %></h3>
<div>
  <%= form_for @category do |f| %>
    <form>
      <div class="row">
        <div class="col col-sm-1">
          <strong><%= t(".name") %>:</strong>
        </div>
        <div class="col">
          <%= f.text_field :name, :required => 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-1">
          <%= f.submit t(".modify") %>
        </div>
      </div>
    </form>
  <% end %>
</div>